<% if @book.photo_file_name.present? %>
    <div class="carousel" id="mycarousel">
      <div class="carousel-inner" tabindex="0">
        <div class="item active">
          <%= image_tag @book.photo.url(:large), class: "book_picture" %>
          <div class="carousel-caption">
            <h1><%= @book.title %></h1>
            <h3><%= @book.price %></h3>
            <h4><%= @book.paypal_form_html.html_safe %></h4>
          </div>
        </div>
      </div>
    </div>
    <h3><%= @book.description %></h3>
<% else %>
    <div class="book_info">
      <h1><%= @book.title %></h1>
      <h3><%= @book.price %></h3>
      <h3><%= @book.paypal_form_html.html_safe %></h3>
    </div>
<% end %>
<br>
<% if can? :update, @book %>
    <%= link_to "Edit", edit_book_path(@book) %>
<% end %>
<% if can? :destroy, @book %>
    <%= link_to "Delete", book_path(@book), method: :delete %>
<% end %>
<hr>