<h1><%= guide.title %></h1>
<% if guide.photo_file_name.present? %>
    <%= image_tag guide.photo.url(:medium) %>
<% end %>
<h2><%= guide.description %></h2>
<h3>$<%= guide.price %></h3>
<h4><%= guide.paypal_form_html %></h4>
<br>
<% if can? :update, guide %>
    <%= link_to "Edit", edit_guide_path(guide) %>
<% end %>
<% if can? :destroy, guide %>
    <%= link_to "Delete", guide_path(guide), method: :delete %>
<% end %>
<hr>