<div class="mt10 ml10">
  <h1>Update Guide</h1>
  <%= simple_form_for @guide do |f| %>
      <%= f.input :title, input_html: { :size => 55, :class => "mb10" } %>
      <%= f.input :description, input_html: { "cols" => 70, "rows" => 10, class: "mb10"  } %>
      <%= f.input :price, input_html: { class: "mb20"} %>
      <%= f.button :submit, "Update Guide" %>
  <% end %>
</div>