<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Walkabout California</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to "Walkabout Books", books_path %>
          <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <%= link_to "All Books", books_path %>
        </li>
        <li>
          <%= link_to "All Guides", guides_path %>
        </li>
        <% if current_user %>
            <% if current_user.admin %>
                <li>
                  <%= link_to "Create New Guide", new_guide_path %>
                </li>
                <li>
                  <%= link_to "Create New Book", new_book_path %>
                </li>
            <% end %>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Vacation Guides
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @guide = Guide.all %>
            <% @guide.each do |guide| %>
                <li><%= link_to guide.title, guide_path(guide), locals: {guide: guide} %></li>
            <% end %>
          </ul>
        </li>
        <li id="social-media">
        </li>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>